body {
  /* background-color: rgb(88, 88, 158); */
  background-color: rgb(61, 61, 145);
  text-align: center;
  color: azure;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  background-color: rgb(61, 61, 145);
  color: azure;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 4px;
}

footer {
  background-color: rgb(61, 61, 145);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 4px;
}
main {
  background-color: rgb(88, 88, 158);
  padding-bottom: 18px;
}
.displaySingleTour {
  text-align: center;
}
#editTour {
  background-color: rgb(49, 51, 61);
  /* padding: 10px; */
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
