body {
  /* background-color: rgb(88, 88, 158); */
  background-color: rgb(61, 61, 145);
  text-align: center;
  color: azure;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  background-color: rgb(61, 61, 145);
  color: azure;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 4px;
}

footer{
  background-color: rgb(61, 61, 145);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 4px;
}
main{
  background-color: rgb(88, 88, 158);
  padding-bottom: 18px;
}
.displaySingleTour{
  text-align: center;
}
